<template>
    <div style="padding: 20px;">
        <div style="padding: 20px;" class="Polaris-Card">
            <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label"><label id="PolarisTextField2Label" for="form_key" class="Polaris-Label__Text">Your Secret API key:</label></div>
            </div>
            <div class="Polaris-Connected">
                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                    <div class="Polaris-TextField Polaris-TextField--hasValue"><input id="form_key" v-model="form.form_key" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField2Label" aria-invalid="false" aria-multiline="false" value="" placeholder="Enter your secret API key">
                        <div class="Polaris-TextField__Backdrop"></div>
                    </div>
                </div>
            </div>
            <div class="Polaris-Labelled__HelpText" id="PolarisTextField8HelpText">NB! - Do not share this API key. This is for direct communication between Social Oracle and this website and not the public tracking code.</div>
            <div class="form-save-btn">
                <button type="button" class="Polaris-Button Polaris-Button--primary" :class="{'Polaris-Button--disabled' : ( is_disabled )}" @click="sendForm()"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save</span></span></button>
            </div>
        </div>
    </div>
</template>

<script>
    import helper from '../../helper';

    export default {
        data(){
            return{
                form: {
                    form_key: '',
                },
                temp_prisine: '',
                is_disabled: true,
            }
        },
        methods: {
            async getKey() {
                let base = this;
                helper.startLoading();
                await axios.get('dashboard')
                .then(function (res) {
                    base.form = res.data.data;
                    base.temp_prisine = JSON.stringify(base.form);
                }).catch(function (err) {
                    helper.errorToast(err.response.data);
                }).finally(res => {
                    helper.stopLoading();
                });
            },
            async sendForm(){
                let base = this;
                helper.startLoading();
                base.is_disabled = true;
                await axios({
                    url: 'dashboard',
                    data: {
                        'data': base.form,
                    },
                    method: 'post',
                }).then(function (res) {
                    let msg = res.data.data;
                    helper.successToast(msg);
                    base.getKey();
                }).catch(function (err) {
                    helper.errorToast(err.response.data.data);
                }).finally(res => {
                    helper.stopLoading();
                });
            },
        },
        created() {
            this.getKey();
        },
        watch: {
            form: {
                immediate: true,
                deep: true,
                handler: function () {
                    if (_.isEqual(this.temp_prisine, JSON.stringify(this.form))) {
                        this.is_disabled = true;
                    } else {
                        this.is_disabled = false;
                    }
                }
            }
        },
    }
</script>
